<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .navbar-inverse {
            background-color: #065ca9 !important;
            border-color: #065ca9;
        }

        .menu_text {
            font-size: 1.00em;
            color: white !important;
        }

            .menu_text:hover {
                color: #08C1B1 !important;
                text-decoration: none;
            }

        .welcome_hd {
            font-size: 0.90em;
            color: white !important;
            padding-top: 20px;
        }

        .welcome_hd_div {
            float: right;
            padding-top: 7px;
        }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PHIYESA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">PHIYESA Admin&nbsp;<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Auto Parts", "Index", "AutoParts")</li>
                            <li>@Html.ActionLink("Part Categories", "Index", "PartCategories")</li>
                            <li>@Html.ActionLink("Part Sub Categories", "Index", "PartSubCategories")</li>

                            <li><hr /></li>
                            <li>@Html.ActionLink("Car Make", "Index", "AutoMakes")</li>
                            <li>@Html.ActionLink("Car Model", "Index", "AutoModels")</li>

                            <li><hr /></li>
                            <li>@Html.ActionLink("Admin Users", "Index", "Users")
                        </ul>
                    </li>
                    <li>
                        @if (Session["USER_ID"] != null)
                        {
                            <div class="row" style="padding:10px;">
                                <div class="col-md-12">
                                <table>
                                    <tr>
                                        <td><img src="~/images/log_user_icon.png" /></td>
                                        <td>&nbsp;<a href="/Users/Logout" class="menu_text">Logout</a></td>
                                    </tr>
                                </table>
                                </div>
                            </div>
                        }
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="body-content div_admin_logoheader">
        <center><img src="~/Images/phiyesa_admin_logo.png" /></center>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - PHIYESA</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
